.plans-title h4 span {
    color: #ff0036 !important;
}
.plans-desc p span {
    color: #ff0036 !important;
    text-align: center;
}
.plans-title{
    text-align: center;
}

.plans-content {
    margin-top: 6rem;
}
F
