.follow-area{
    background-image: url("../../images/follow/follow_bg.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 7rem!important;
}

.follow-area-overlay {
    width: 100%;
    height: 100%;
    background-color: #131313;
    opacity: 0.9;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}
